*{
    margin: 0;
}
body * {
    box-sizing: border-box;
    word-break: break-word;
}
html,body{
    padding: 0;
    margin: 0;
}
.top{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
.bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom_title{
    font-family: BlenderProBook,sans-serif;
    font-weight: 300;
    text-align: center;
    width: 100%;
    font-size: 30px;
    line-height: 27px;
    margin: 6px 0 30px;
}
.button{
    align-items: center;
    background-image: url("../image/svg.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    display: flex;
    font-family: BlenderProBold,sans-serif;
    font-size: 26px;
    font-weight: 700;
    height: 85px;
    justify-content: center;
    letter-spacing: 2px;
    line-height: 1;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 337px;
}
.button:after {
    bottom: -3px;
    color: #00000f;
    content: "R25";
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 1;
    position: absolute;
    right: 30px;
}
.logo{
    width: 30%;
    min-width: 300px;
}
div{
    max-width: 100%;
}
.razor_top{
    position: absolute;
    bottom: -2px;
    max-width: 100%;
}
.razor_bottom{
    position: absolute;
    max-width: 100%;
    bottom: -8vh;
}
.section{
    width: 100%;
    height: 8vh;
    background: #00000f;
}
.background1{
    width: 100vw;
    height: 100vh;
    background: #fcee0a;
}
.background2{
    width: 100vw;
    height: 100vh;
    background: #fcee0a;
}
.introduceDiv{
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 1720px;
    padding: 84px 28px 0;
}
.introduceTitle{
    color: #000;
    font-family: BlenderProBold,sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 54px;
    padding: 0 24px;
    text-align: center;
}
.introduceText{
    font-family: BlenderProBook,sans-serif;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    align-content: stretch;
    align-items: stretch;
    overflow: hidden;
}
.highlights__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.highlights__item {
    display: flex;
    flex-flow: row wrap;
    width: calc(50% - 24px);
    background-color: #00f0ff;
    border: 5px solid #000;
    margin: 12px;
    padding: 12px;
    position: relative;
}
.highlights__item:hover {
    background: white;
}
.image {
    position: relative;
    height: 550px;
    width: 100%;
 }
.image1,.image2{
    left: 50%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
.image1{
    background-image: url("../image/nanami01.jpg");
}
.image2{
    background-image: url("../image/nanami02.jpg");
}
.highlights__item-text{
    margin-top: 20px;
    padding-right: 48px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-bottom: 30px;
    padding-left: 64px;
    width: 100%;
}
.background3{
    width: 100vw;
    height: 100vh;
    background: #fcee0a;
}